<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <style title="Basic Payslip Styles">
      body {
        margin: 15px;
      }

      .payslip-view * {
        box-sizing: border-box;
        font-family: <%= options.font_family %>;
        font-size: <%= options.text_font_size %>px;
        line-height: <%= options.text_font_size + options.line_height_increase %>px;
        font-weight: normal;
        margin: 0;
        padding: 0;
      }

      .payslip-view strong {
        font-weight: <%= options.bold_weight %>;
      }

      .payslip-view p,
      .payslip-view h1,
      .payslip-view table {
        margin: 8px 0;
      }

      .payslip-view hr {
        border-top: 1px solid black;
      }

      .payslip-view h1 {
        font-size: <%= options.header_font_size %>px;
        font-weight: <%= options.bold_weight %>;
      }

      .payslip-view table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
      }

      .payslip-view td,
      .payslip-view th {
        vertical-align: top;
        text-align: left;
        padding: 5px;
      }

      .payslip-view table.table th {
        border-bottom: 1px solid black;
      }

      .payslip-view table.table tbody td {
        border-bottom: 1px solid black;
      }

      .payslip-view table.table tfoot td,
      .payslip-view table.table th {
        background-color: #D3D3D3;
        font-weight: <%= options.bold_weight %>;
      }

      .payslip-view table.pane td,
      .payslip-view table.pane th {
        padding: 5px 5px 5px 0;
      }
    </style>
  </head>
  <body>
    <div class="payslip-view">
      <% object.children.each do |child| -%>
        <%= ProformaWriter.render(child, options) %>
      <% end -%>
    </div>
  </body>
</html>
